<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangban.data_platform.mapper.UserMapper">

    <select id="findByPhone" parameterType="java.lang.String" resultType="com.xiangban.data_platform.domain.User">
        select
        id,
        userid,
        nick_name,
        phone,
        sex,
        idcard,
        age,
        status,
        create_time,
        warnusername,
        warnusermobile,
        gsource,
        is_blind,
        address,
        hobby,
        homemaking_service,
        eat_point,
        price,
        type,
        point,
        birthday,
        avatar,
        reg_address,
        platform
        from user
        where phone=#{phone} and platform=#{platform}
    </select>

    <insert id="saveUser" parameterType="com.xiangban.data_platform.domain.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user(
        userid,
        username,
        password,
        nick_name,
        phone,
        sex,
        idcard,
        age,
        create_time,
        warnusername,
        warnusermobile,
        gsource,
        is_blind,
        address,
        hobby,
        homemaking_service,
        eat_point,
        price,
        type,
        point,
        birthday,
        avatar,
        reg_address,
        customer_service,
        remarks,
        platform)
        values
        ( #{userid,jdbcType=LONGVARCHAR},
          #{username,jdbcType=LONGVARCHAR},
          #{password,jdbcType=LONGVARCHAR},
          #{nickName,jdbcType=LONGVARCHAR},
          #{phone,jdbcType=LONGVARCHAR},
          #{sex,jdbcType=LONGVARCHAR},
          #{idcard,jdbcType=LONGVARCHAR},
          #{age,jdbcType=LONGVARCHAR},
          #{createTime,jdbcType=TIMESTAMP},
          #{warnusername,jdbcType=LONGVARCHAR},
          #{warnusermobile,jdbcType=LONGVARCHAR},
          #{gsource,jdbcType=LONGVARCHAR},
          #{isBlind,jdbcType=LONGVARCHAR},
          #{address,jdbcType=LONGVARCHAR},
          #{hobby,jdbcType=LONGVARCHAR},
          #{homemakingService,jdbcType=LONGVARCHAR},
          #{eatPoint,jdbcType=LONGVARCHAR},
          #{price,jdbcType=DECIMAL},
          #{type,jdbcType=LONGVARCHAR},
          #{point,jdbcType=LONGVARCHAR},
          #{birthday,jdbcType=TIMESTAMP},
          #{avatar,jdbcType=LONGVARCHAR},
          #{regAddress,jdbcType=LONGVARCHAR},
          #{customerService,jdbcType=LONGVARCHAR},
          #{remarks,jdbcType=LONGVARCHAR},
          #{platform,jdbcType=LONGVARCHAR})
    </insert>

    <update id="deleteAll" parameterType="com.xiangban.data_platform.domain.User"><!--软删除，标识-->
        update user
        set status='-1'
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.xiangban.data_platform.domain.User">
        delete  from user
        where id=#{id}
    </delete>

    <update id="updateUser" parameterType="com.xiangban.data_platform.domain.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="nickName != null">nick_name= #{nickName,jdbcType=LONGVARCHAR},</if>
            <if test="phone != null">phone= #{phone,jdbcType=LONGVARCHAR},</if>
            <if test="sex != null">sex= #{sex,jdbcType=LONGVARCHAR},</if>
            <if test="idcard != null">idcard= #{idcard,jdbcType=LONGVARCHAR},</if>
            <if test="age != null">age = #{age,jdbcType=LONGVARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=LONGVARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="warnusername != null">warnusername = #{warnusername,jdbcType=LONGVARCHAR},</if>
            <if test="warnusermobile != null">warnusermobile = #{warnusermobile,jdbcType=LONGVARCHAR},</if>
            <if test="gsource != null">gsource= #{gsource,jdbcType=LONGVARCHAR},</if>
            <if test="isBlind != null">is_blind= #{isBlind,jdbcType=LONGVARCHAR},</if>
            <if test="address != null">address = #{address,jdbcType=LONGVARCHAR},</if>
            <if test="hobby != null">hobby = #{hobby,jdbcType=LONGVARCHAR},</if>
            <if test="homemakingService != null">homemaking_service = #{homemakingService,jdbcType=LONGVARCHAR},</if>
            <if test="eatPoint != null">eat_point = #{eatPoint,jdbcType=LONGVARCHAR},</if>
            <if test="price != null">price = #{price,jdbcType=DECIMAL},</if>
            <if test="type != null">type= #{type,jdbcType=LONGVARCHAR},</if>
            <if test="point != null">point = #{point,jdbcType=LONGVARCHAR},</if>
            <if test="birthday != null">birthday = #{birthday,jdbcType=TIMESTAMP},</if>
            <if test="avatar != null">avatar = #{avatar,jdbcType=LONGVARCHAR},</if>
            <if test="regAddress != null">reg_address= #{regAddress,jdbcType=LONGVARCHAR},</if>
            <if test="customerService != null">customer_service= #{customerService,jdbcType=LONGVARCHAR},</if>
            <if test="remarks != null">remarks= #{remarks,jdbcType=LONGVARCHAR},</if>
            <if test="platform != null">platform = #{platform,jdbcType=LONGVARCHAR}</if>
        </trim>
        where
        id=#{id}
    </update>

<!--登录-->
    <select id="login"  resultType="com.xiangban.data_platform.domain.User">
        select username,password,id,nick_name
        from user
        where username=#{username} and password=#{password}
    </select>


    <!--分页-->
    <select id="selectPage" resultType="User" parameterType="com.xiangban.data_platform.domain.User">
        select
        `id`,
        `userid`,
        `nick_name`,
        `phone`,
        `sex`,
        `idcard`,
        `age`,
        `status`,
        `create_time`,
        `warnusername`,
        `warnusermobile`,
        `gsource`,
        `is_blind`,
        `address`,
        `hobby`,
        `homemaking_service`,
        `eat_point`,
        `price`,
        `type`,
        `point`,
        `birthday`,
        `avatar`,
        `reg_address`,
        `customer_service`,
        `remarks`,
        `platform`
        from user 
        <trim prefix="where" prefixOverrides="and | or">

            <if test="nickName != null and nickName !=''" >
                and nick_name like concat('%',#{nickName},'%')
            </if>
            <if test="platform != null and platform !=0" >
                and platform=#{platform}
            </if>
            <if test="id != null and id !=''and id !=0">
                and id=#{id}
            </if>
            <if test="phone != null and phone != ''">
                and (phone =#{phone} or nick_name like concat('%',#{phone},'%'))
            </if>
            <if test="customerService != null and customerService != ''">
                and customer_service =#{customerService}
            </if>
            <if test="gsource != null and gsource != ''">
                and gsource =#{gsource}
            </if>

            <if test="avatar != null and avatar != ''">
                and id in (select user_id from  quenstion_answer where answer_id in (#{avatar}))
            </if>
        </trim>
    </select>

    
    <select id="selectGsource"  resultType="com.xiangban.data_platform.domain.dto.Gsource">
        SELECT  `user`.gsource FROM `user` WHERE gsource is not NULL and gsource!=''  group by gsource
    </select>
    
    <update id="resetting" parameterType="com.xiangban.data_platform.domain.dto.CustomerServiceDto">
        update `user`
        set `user`.customer_service='0'
        WHERE `user`.customer_service=#{customerService}
    </update>

    <update id="updateCustomerService" parameterType="com.xiangban.data_platform.domain.dto.CustomerServiceDto">
        UPDATE `user`
        SET `user`.customer_service=#{customerService}
        WHERE `user`.id
        in
        <foreach collection="id" item="list" open="("  separator="," close=")">
            #{list}
        </foreach>
    </update>

    <select id="selectUser" parameterType="java.lang.Integer" resultType="com.xiangban.data_platform.domain.User">
         select
        `id`,
        `userid`,
        `nick_name`,
        `phone`,
        `sex`,
        `idcard`,
        `age`,
        `status`,
        `create_time`,
        `warnusername`,
        `warnusermobile`,
        `gsource`,
        `is_blind`,
        `address`,
        `hobby`,
        `homemaking_service`,
        `eat_point`,
        `price`,
        `type`,
        `point`,
        `birthday`,
        `avatar`,
        `reg_address`,
        `customer_service`,
        `remarks`,
        `platform`
        from `user`
        where id=#{id}
    </select>

    <select id="selectUserByPhone" parameterType="java.lang.String" resultType="com.xiangban.data_platform.domain.User">
         select
        `id`,
        `userid`,
        `nick_name`,
        `phone`,
        `sex`,
        `idcard`,
        `age`,
        `status`,
        `create_time`,
        `warnusername`,
        `warnusermobile`,
        `gsource`,
        `is_blind`,
        `address`,
        `hobby`,
        `homemaking_service`,
        `eat_point`,
        `price`,
        `type`,
        `point`,
        `birthday`,
        `avatar`,
        `reg_address`,
        `customer_service`,
        `remarks`,
        `platform`
        from `user`
        where phone=#{phone}
    </select>
 
    <select id="selectAnswerByUserIdAndQuenstionId"  resultType="com.xiangban.data_platform.domain.vo.AnswerVo">
        select answer.answer from  answer where id in (select answer_id from quenstion_answer where user_id=#{userId} and quenstion_id=#{quenstionId})
    </select>















</mapper>